<!DOCTYPE html>
<html>
   <!-- <meta name="referrer" content="no-referrer" /> -->
  <%- partial('_partial/head') %>
  
  <body>
    <%- partial('_partial/header') %>
    <%- body %>
    <%- partial('_partial/top') %>
    <%- partial('_partial/footer') %>
  </body>
</html>